body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma
}

button {
    background-color: black;
    color: rgb(19, 66, 142);
    font-size: 55px
}

#back {
    position: absolute;
    left: 0;
    top: 0
}

h1 {
    text-align: center;
    position: relative
}

.output {
    background-color: white;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  
    display: flex;
    align-items: center
}

.rect1 {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    position: absolute;
    bottom: 0
}

.rect2 {    
    display: grid;
    grid-template: 1fr repeat(2, 1.5fr) 1fr / repeat(2, 1fr);
    position: absolute;
    bottom: 0
}

#equal {
    grid-column: span 2
}

#copy {
    font-size: 55px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

@media (min-width: 900px) {
    #back {
        font-size: 40px
    }

    h1 {
        font-size: 40px;
        bottom: 15px
    }

    .output {
        font-size: 55px;
        width: 1000px;
        height: 70px;
        top: 80px
    }

    .rect1 {
        width: 300px;
        height: 500px;      
        left: calc(50% - 250px)
    }

    .rect2 {
        width: 200px;
        height: 500px;  
        left: calc(50% + 50px)
    }
}

@media (max-width: 576px) {
    #back {
        font-size: 40px
    }

    h1 {
        font-size: 30px;
        top: 15px
    }

    .output {
        font-size: 75px;
        width: 300px;
        height: 70px;
        top: 90px
    }

    .rect1 {
        width: 150px;
        height: 250px;
        left: calc(50% - 125px)
    }

    .rect2 {
        width: 100px;
        height: 250px;
        left: calc(50% + 25px)
    }
}