body {
    background-color: rgb(26, 26, 29);
    color: white;
    font-family: Tahoma
}

button {
    background-color: black;
    color: rgb(19, 66, 142)
}

#back {
    position: absolute;
    left: 0;
    top: 0
}

h1 {
    text-align: center
}

.output {
    background-color: white;
    color: black;
    font-size: 55px;
    width: 750px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center
}

.rectNumbers {
    width: 350px;
    height: 425px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr)
}

.rectSigns {
    width: 200px;
    height: 425px;
    position: absolute;
    left: calc(50% + 175px);
    bottom: 20px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr
}

.numbers {
    font-size: 55px
}

.signs {
    font-size: 55px
}

@media (min-width: 1200px) {
    #back {
        font-size: 40px
    }

    h1 {
        font-size: 40px;
        position: relative;
        bottom: 15px
    }
}

@media (max-width: 1199px) {
    #back {
        font-size: 65px
    }

    h1 {
        font-size: 55px
    }
}